In [10]:
import pandas as pd

a = [[1,2,3,4,5],[4,5,6,7]]

b = pd.Series(a)

print(b)

#print(type(b))

0    [1, 2, 3, 4, 5]
1       [4, 5, 6, 7]
dtype: object

In [9]:
import pandas as pd
dict = {"brand":['samsung','vivo','redmi','apple','oneplus'], "quantity":[10,20,12,19,50]}

a = pd.DataFrame(dict)
a
#type(a)

#for ind,rows in a.iterrows():
 #    print(ind,rows)

    
#for cols,num in a.iteritems():
 #   print(cols,num)

brand 0    samsung
1       vivo
2      redmi
3      apple
4    oneplus
Name: brand, dtype: object
quantity 0    10
1    20
2    12
3    19
4    50
Name: quantity, dtype: int64

In [36]:

import numpy as np
a = [1,2,3,4,5]

b = pd.DataFrame(a)
b

c = b.rename(index = {0:"a",1:"b",2:"c",3:"d",4:"e"}, inplace = True)
d = b.rename(index = str, columns = {0:"A"}, inplace  = True)

b

   A
a  1
b  2
c  3
d  4
e  5

In [28]:
a = [[1,2,3,4,5],[10,11,12]]
b = pd.DataFrame(a)
b

    0   1   2    3    4
0   1   2   3  4.0  5.0
1  10  11  12  NaN  NaN

In [98]:
import pandas as pd

a = pd.read_csv('Iris.csv')
a

#b = a.groupby("Species").describe()
#c = a.describe()
#c

#d1 = a.median()

#d1
#d2 = a.mode()
#d2
#d3 = a.mean()
#d3
#d4 = a.std()
#d4
#type(d4)

#tan = a['SepalLengthCm']
#tan

#n = a.PetalWidthCm
#n

a[1:4][['SepalLengthCm','PetalLengthCm']]
#a.iloc[1:5,2:5]

#i = a[a.PetalLengthCm>5]
#i
#j = a[a.SepalLengthCm <6]
#j

#m = a.loc[~a['PetalLengthCm'].isin([1.2,4.5])]
#m

#v = a['SepalLengthCm'][:11].plot(kind = 'bar')
#v

#x = a["Species"].astype('category')
#x1 = x.cat.codes
#x1

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Length: 150, dtype: int8

In [13]:
import pandas as pd

a = pd.read_csv('datatest.txt')

b = a['Temperature'].pct_change(periods=5)
b

140          NaN
141          NaN
142          NaN
143          NaN
144          NaN
          ...
2800    0.003719
2801    0.004625
2802    0.002885
2803    0.002745
2804    0.004872
Name: Temperature, Length: 2665, dtype: float64